<div class="col-md-4">
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Task sections</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <% Task.sections.each do |section| %>
                        <li> <%= link_to section.first, search_tasks_by_section_user_tasks_path(current_locale, current_user.id, section: section.first) %> </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>