 <% if comment.id %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading"><span class="glyphicon glyphicon-user"></span> <%= link_to comment.user.nickname, user_path(current_locale, comment.user.id) %>
                <br>
                <small><span class="glyphicon glyphicon-time"></span> <%= l comment.created_at %></small>
            </h4>
            <%= comment.body %>
        </div>
    </div>
<% end %>