
    <h4><%= t 'comment.leave' %>:</h4>
    <%= form_for [@task, @task.comments.build], url: user_task_comments_path(current_locale, current_user.id, @task.id), :method => :post, remote: true do |f| %>
        <div class="form-group">
		    <%= f.text_area :body, :class => 'form-control input-sm', :data => {:provide => "markdown"} %>
	  	</div>
	  	<div class="form-group">
		    <%= f.submit :class => "btn btn-primary btn-sm" %>
		</div>
    <% end %>