<div class="col-md-12">
    <!-- Blog Categories Well -->
    <div class="bar well">
        <h4>Tag cloud</h4>
        <div class="row">
            <div class="col-lg-12">
                <ul class="tagcloud">
                    <% @tags.each do |tag| %>
                        <li data-weight = <%= tag.taggings_count %> > <%= link_to tag.name, search_tasks_by_tag_path(current_locale, tag: tag.name), title: tag.taggings_count %> </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>