<div class="col-md-4" >
    <!-- Blog Categories Well -->
    <div class="bar well">
        <div class="row">
      		<%= render 'layouts/search' %>
        	<%= render 'layouts/sections' %>
        	<%= render 'layouts/tasks_bar' %>
        </div>
        <!-- /.row -->
    </div>
</div>
