<div class="col-lg-6">
    <h4>Navigation</h4>
    <ul class="list-unstyled">
        <li><%= link_to 'New task', new_task_path(current_locale) %></li>
        <li><%= link_to 'Feed', tasks_path(current_locale) %></li>
    </ul>
</div>
